<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Odontólogo</title>

<style>

body{
font-family: Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f4f7f6;
}

button{
padding:15px 35px;
font-size:18px;
border:none;
border-radius:10px;
background:#4a8dc7;
color:white;
cursor:pointer;
}

button:hover{
background:#3973a5;
}

</style>

</head>

<body>

<button onclick="window.location.href='historial.html'">
🦷 Historial
</button>
<button onclick="window.location.href='agenda.html'">
🦷 Agenda
</button>
</body>
</html>