:root{
    --azul-oscuro:#0f172a;
    --azul:#2563eb;
    --azul-claro:#60a5fa;
    --blanco:#ffffff;
}

*{margin:0;padding:0;box-sizing:border-box;}
body{
    font-family: 'Inter', sans-serif;
}

body{
background: linear-gradient(
    270deg,
    #1d1d63,
    #1e3a8a,
    #0084ff,
    #1e3a8a
);
background-size: 300% 300%;
animation: fondoAnimado 14s ease-in-out infinite;
color:#1e293b;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(
        270deg,
        #1d1d63,
        #1e3a8a,
        #0084ff,
        #1e3a8a
    );
    background-size: 300% 300%;
    animation: fondoAnimado 14s ease-in-out infinite;

    color:#1e293b;
}
body{
    height:100vh;
    display:flex;
    flex-direction:column; /* 👈 CLAVE */
    justify-content:center;
    align-items:center;

    background: linear-gradient(
        270deg,
        #1d1d63,
        #1e3a8a,
        #0084ff,
        #1e3a8a
    );
    background-size: 300% 300%;
    animation: fondoAnimado 14s ease-in-out infinite;

    color:#1e293b;
}

@keyframes fondoAnimado{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}
/* CARD */
.card{
    background: var(--blanco); /* cuadro blanco */
    padding:40px;
    border-radius:20px;
    width:360px;
    text-align:center;
    color: var(--azul-oscuro);
    box-shadow:0 25px 60px rgba(0,0,0,0.2);
    animation:fadeIn 0.6s ease;
}

@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

.card img{
    margin-bottom:10px;
}

/* INPUTS */
.input-group{
    text-align:left;
    margin-bottom:15px;
}

label{
    font-size:12px;
    opacity:0.8;
    font-weight:600;
}

input,select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #000000;
    margin-top:5px;
    outline:none;
    background:#f9fafb; /* input claro */
    color: var(--azul-oscuro);
}

select {
    color: rgb(110, 110, 110);
    background: rgb(255, 255, 255);
}

/* 👇 ESTA ES LA CLAVE */
select option {
    color: black;
    background: #ffffff;
}
input::placeholder{
    color:#9ca3af;
}

/* EFECTO FOCUS */
input:focus,select:focus{
    box-shadow:0 0 0 2px var(--azul-claro);
    background:#ffffff;
}
.crear-cuenta{
    margin-top:15px;
    font-size:13px;
    color:#64748b;
    cursor:pointer;
}

.crear-cuenta span{
    color: var(--azul);
    font-weight:600;
    transition:0.3s;
}

.crear-cuenta span:hover{
    text-decoration:underline;
    opacity:0.8;
}

/* BOTÓN */
button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,var(--azul),var(--azul-claro));
    color:white;
    font-weight:700;
    cursor:pointer;
    margin-top:15px;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px) scale(1.03);
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}
.header{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px; /* espacio entre logo, texto y mascota */
    margin-bottom:30px; /* separación del login */
}

.header img{
    width:150px;
}

.header h1{
    font-family: 'Playfair Display', serif;
    color:white;
    font-weight:800;
    letter-spacing:-1px;
    font-size:32px;
    text-shadow: 0 5px 20px rgba(255,255,255,0.2);
}
.clini{
    color: #000a96; /* blanco elegante */
}

.dent{
    background: linear-gradient(135deg, #93c4ff, #2563eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}